/*黑色导航条样式开始*/
.black-nav {
    background-color: #333;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.wrap {
    width: 1226px;
    margin: 0 auto;
}
.black-nav-left {
    width:795px ;
    height: 40px;
    float: left;
}
.black-nav-right {
    width:431px ;
    height: 40px;
    float: right;
}
.black-nav li {
    float: left;
    position: relative;
}
.black-nav a {
    font-size: 12px;
    color: #b0b0b0;
}
.black-nav span {
    font-size: 12px;
    color: #424242;
    margin: 0 .3em;
}
.black-nav a:hover{
    color: #fff;
}
.cart .iconfont {
    font-size: 18px;
    margin-right: 4px;
}
.black-nav-right>ul {
    float: right;

}
.cart {
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 25px;
    text-align: center;
    /*设置光标为小手*/
    cursor: pointer;
}
.cart:hover {
    background-color: #fff;
}
.cart:hover>a {
    color: #ff6700;
}
.downdload {
    height:148px ;
    width: 124px;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    display: none;
    text-align: center;
    z-index: 666;

}

.downdload-father:hover>.downdload{/*转换成块级标签就显示出来了*/
    display: block;
}
.downdload>img {
    height: 90px;
    margin: 18px auto 0;

}
.downdload p {
    line-height: 14px;
    font-size: 14px;
    color: #333;

}
.sanjiao {
    height: 0;
    width: 0;
    border-left: 8px solid transparent ;/*transparent 透明的*/
    border-right: 8px solid transparent ;
    border-bottom: 8px solid #fff ;
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
}

.downdload-father:hover>.sanjiao {
    display: block;
}
.cart-list {
    font-size: 12px;
    color: #424242;
    width: 316px;
    height: 0;
    position: absolute;
    right: 0;
    top:40px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    transition: all 0.3s;/*用transition可以实现过渡效果 all是指所有属性都有过渡效果*/
    overflow: hidden;/*让溢出的文字不显示*/
    /*display: none;*/
    z-index: 600;

}

.cart:hover>.cart-list {
    /*display: block;*/ /*用display没有过渡效果，建议用transition*/
    height: 100px;
    line-height: 100px;/*行高等于高 可以让文字垂直居中*/

}
/*黑色导航条样式结束*/

/*白色导航条开始*/
.white-nav {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #fff;
}

.logo {
    width: 234px;
    height: 100px;
    float: left;
}
.logo>a {
    display: block;
    margin:22.5px 0; /*让图片水平居中*/
    height: 55px;
    width: 55px;
    position: relative;
    overflow: hidden;
}
.search {
    height: 100px;
    width: 296px;
    float: left;
    position: relative;
}
.nav-bar {
    height: 100px;
    width: 696px;
    float: left;
}
.logo1 {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .15s;
}
.logo>a:hover>.logo1{
    left: 100%;
}

.logo2 {
    position: absolute;
    top:0;
    left: -100%;
    transition: all .15s;
}

.logo>a:hover>.logo2 {
    left:0;
}
.nav-bar>ul>li {
    float:left ;
}
.nav-bar>ul>li>a {
    display: block;
    font-size: 16px;
    color: #333;
    padding: 38px 10px;
    height: 24px;

}
.nav-bar>ul>li:hover>a {
    color: #ff6700;
}

.search input {
    height: 50px;
    width: 244px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    float: left;
    margin-top: 25px;
    padding: 0 10px;
}
.search button {
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    float: left;
    margin-top: 25px;
    padding: 1px 6px;
    font-size: 24px;
    color: #616161;
    background-color: #fff;
    border-left: none;
}
.search input:hover,.search input:hover+button{
    border-color: #b0b0b0;
}
.search button:hover {
    background-color: #ff6700;
    color: #fff;
    border-color: transparent;
    cursor: pointer;
}
.search input:focus,.search input:focus+button{
    border-color: #ff6700;

}
/*下拉列表*/
.nav-bar-list {
    height: 229px;
    width: 100%;
    box-shadow: 0 3px 4px rgba(0,0,0,.18);
    position: absolute;
    left: 0;
    top: 100%;
    border-top:1px solid #e0e0e0;
    display: none;
    background-color: #fff;
    z-index: 555;

}
.nav-bar-list li {
    width: 204px;
    height: 229px;
    float: left;
}
.img-box {
    height: 110px;
    width: 100%;
    margin-top: 35px;
    border-right:1px solid #e0e0e0 ;
    box-sizing: border-box;
}
.img-box img {
    height: 100%;
    margin-left:20px ;
}
.img-box .name {
    font-size: 12px;
    color: #333;
    text-align: center;
    margin-top: 11px;
}
.img-box .price {
    font-size: 12px;
    color: #ff6700;
    text-align: center;
}
.nav-bar-list li:last-child .img-box {
    border-right: none;
}
#xiaomi:hover .nav-bar-list{
    display: block;
}
#redmi:hover .nav-bar-list{
    display: block;
}
#tv:hover .nav-bar-list{
    display: block;
}
#laptop:hover .nav-bar-list,#HomeAppliances:hover .nav-bar-list,#ai:hover .nav-bar-list,#luyouqi:hover .nav-bar-list
{
    display: block;
}


.hot-list {
    height: 240px;
    width: 242px;
    position: absolute;
    left: 0;
    top: 75px;
    border: 1px solid #ff6700;
    border-top: none;
    background-color: #fff;
    display: none;
    cursor: pointer;
    z-index: 520;


}
.hot-list li {
    text-align: left;
    padding:  6px 15px;

}
.hot-list li a{
   font-size: 12px;
    color: #424242;
}

.search input:focus~div{
    display: block;
}
.hot-list li:hover {
    background-color: #fafafa;
}
.hot-word {
    height: 21px;
    width: 150px;
    position: absolute;
    right: 125px;
    top: 39.5px;
}
.hot-word a {
    color: #757575;
    font-size: 12px;
    display: inline-block;
    background-color: #eeeeee;
    padding: 0 5px;
    margin-left: 5px;
}
.hot-word a:hover {
    background-color: #ff6700;
    color: #fff;
    transition: all .3s;
}
.search input:focus~.hot-word {
    display: none;
}
/*白色导航条结束*/

/*轮播图样式开始*/
.banner {
    height: 460px;
    width: 100%;
    background-color:#fff;
}
.banner-box {
    width: 1226px;
    height: 460px;
    background-image: url("../image/xiaomi10.jpg");
    background-size: 100%;
    animation: banner 20s linear infinite;/*总共循环20s 匀速 无限循环*/
    position: relative;
    cursor: pointer;
}
@keyframes banner { /*图片切换 0%是开始*/
    0% {
        background-image: url("../image/xiaomi10.jpg");
    }
    25% {
        background-image: url("../image/xiaominote9.jpg");
    }
    50% {
        background-image: url("../image/xioamitv.jpg");
    }
    75% {
        background-image: url("../image/xiaomitvmaster.jpg");
    }
}
.banner-box:hover {
    animation-play-state: paused;
}
.slide {
    width: 234px;
    height: 420px;
    background-color:rgba(105,101,101,.6);
    padding:20px 0;
    position: relative;
}
.slide>ul>li {
    width: 234px;
    height: 42px;
    line-height: 42px;
}
.slide>ul>li>a {
    font-size: 14px;
    padding-left:30px ;
    color: #fff;
}
.slide .iconfont {
    float: right;
    color: #e0e0e0;
    font-size: 16px;
    padding-right: 20px;

}
.slide>ul>li:hover {
    background-color: #ff6700;
}
.slide-list {
    height: 460px;
    width: 992px;
    border: 1px solid #e0e0e0;
    border-left: none;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 234px;
    box-sizing: border-box;
    display: none;
    z-index: 555;
}
.slide>ul>li:hover>.slide-list {
    display: block;
}
.slide-list>ul {
    float: left;
    width: 247px;
}
.slide-list li {
    height: 76px;
    padding: 18px 0 18px 20px;
    box-sizing: border-box;




}
.slide-list img {
    height: 40px;
    margin-right: 14px;
    float: left;

}
.slide-list span {
    color: #333;
    font-size: 14px;
    float: left;

}
.left-arrow,.right-arrow {
    width: 41px;
    height: 69px;
    position: absolute;
    top: 50%;
    margin-top: -34.5px;
    background-image: url("../image/icon-slides.png");
    cursor: pointer;
    z-index: 500;
}
.right-arrow {
    right: 0;
    background-position:-124px ;/*背景图片定位*/
}
.left-arrow {
    margin-left:234px;
    background-position:-83px;
}
.left-arrow:hover {
    background-position: 0;
}
.right-arrow:hover {
    background-position: -42px;
}
/*轮播图样式结束*/

/*广告区域样式开始*/
.ad {
    width: 100%;
    height: 170px;
    padding: 14px 0 26px;
    background-color: #fff;
}
.ad-black {
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
    padding:3px;
    box-sizing: border-box;
}
.ad-box {
    width:316px;
    height: 170px;
    margin-left: 14.66px;
    float: left;
    transition: all linear .1s;
}
.ad-box img {
    width: 100%;
}
.ad-box:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.ad-black li  {
    float: left;
    width: 76px;
    height: 82px;
    text-align: center;
    position: relative;
}
.ad-black a {
    display: block;
    color: #fff;
    opacity: .7;
    font-size: 12px;
    margin-top: 18px;
    transition: all .2s;
}
.ad-black i {
    display: block;
    font-size: 24px;
    padding-bottom: 5px;
}
.ad-black li:hover a {
    opacity: 1;
}
.col::after {
    content: "";
    display: block;
    width: 1px;
    height: 70px;
    background-color: #665e57;
    position: absolute;
    right: 0;
    top: 6px;
}
.row::before {
    content: "";
    display: block;
    width: 64px;
    height: 1px;
    background-color: #665e57;
    position: absolute;
    bottom: 0;
    left: 6px;
}
/*广告区域样式结束*/
/*小米秒杀样式开始*/
.container {
    width: 100%;
    padding: 4px 12px;

}
.title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    text-align: left;
    height: 58px;
    clear: both;
}
.flash-box>div {
    border-top: 1px solid #e53935;
}
.items1 {
    width: 234px;
    height: 339px;
    margin-left: 14px;
    padding-top: 39px;
    background-color: #fff;
    float: left;
}

.flash-box>div:nth-child(2){ /*选择flash-box 下面的div子标签*/
    border-top-color: #00c0a5;
}
.flash-box>div:nth-child(3){
    border-top-color: #ffac13;
}
.flash-box>div:nth-child(4){
    border-top-color: #e53935;
}
.flash-box>div:nth-child(5){
    border-top-color: #2196f3;
}
.items1 img {
    width: 160px;
    margin:30px 37px 22px ;
}
.items1 .name1 {
    width: 194px;
    height: 21px;
    margin:0 auto 3px;/*让标签居中用margin：0 auto*/
    text-align: center;/*让标签里的内容居中用text-align*/
    font-size: 14px;
    color: #212121;
    white-space:nowrap;/*文本一行显示*/
    overflow: hidden;
    text-overflow: ellipsis;/*文本溢出用...显示*/
}
.items1 .name2 {
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
    margin: 0 auto 12px;
}
.items1 .price {
    color: #ff6709;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
}
.items1 .price s {
    color: #b0b0b0;
}
.items2 .time {
    font-size: 21px;
    padding-bottom: 15px;
    color: #ef3a3b;
    text-align: center;
}
.items2 .time~p {
    font-size: 15px;
    color: rgba(0,0,0,.54);
    text-align: center;
}
.items2 img {
    width: 34px;
    margin: 25px 100px;
}
.ad-img {
    height: 120px;
    width: 100%;
    margin: 22px 0;
    float: left;
    background-image: url("../image/note9.jpg");
    cursor: pointer;
}
/*小米秒杀样式结束*/

/*手机样式开始*/
.more {
    float: right;
    font-size: 16px;
    color: #424242;
    line-height: 58px;
    transition: all .4s;
}
.more i {
    padding: 4px;
    margin-left: 8px;
}
.more:hover {
    color: #ff6700;
}
.phone-box>.phone-box-left {
    width: 234px;
    height: 614px;
    float: left;
    transition: all .2s linear;
}
.phone-box-left img {
    width: 100%;
}
.phone-box>.phone-box-right {
    width: 992px;
    height: 614px;
    float: right;
}
.items3 {
    height: 300px;
    padding: 20px 0;
    margin-left: 14px;
    margin-bottom: 14px;
    box-sizing: border-box;
    transition: all .2s linear;
}
.items3 img {
    margin: 0 37px;
    text-align: center;
}
.items3 .name1 {
    font-size: 14px;
    margin: 0 10px 2px;
}
.items3:hover,.phone-box-left:hover,.video-box:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);/*等同于transform: translateY(-2px);*/
}
.phone .ad-img {
    background-image: url("../image/mitv.jpg");
}
.items2 {
    margin-left: 0;
    background-color: rgb(241, 237, 237);
    padding-top:0 ; /*为了修正家电区第一个图padding问题，放在.items3之后*/
}
.flash-box>div:first-child {
    padding-top: 39px; /*修正小米秒杀图的问题*/
}
/*手机样式结束*/

/*家电版块样式开始*/
.elc-box {
    width: 100%;

}
.elc-box>.items2 img {
    padding: 0;
    width: 100%;
    margin: 0;
}
.items4 {
    height: 143px;
    margin-bottom: 14px;
    position: relative;
}
.items4 div{
    position: absolute;
    left: 0;
    top:157px ;
    height: 143px;
    width: 100%;
    background-color: #fff;
    margin-left: 0;
}
.elc >.ad-img {
    background-image: url("../image/adimg.jpg");
}
/*家电版块样式结束*/

/*智能、搭配、配件、周边版块样式开始*/
.zhineng>.ad-img {
    background-image: url("../image/adimg1.jpg");
}
.dapei >.ad-img {
    background-image: url("../image/adimg2.jpg");
}
.peijian >.ad-img {
    background-image: url("../image/adimg3.jpg");
}
.zhoubian >.ad-img {
    background-image: url("../image/adimg4.jpg");
}
/*智能、搭配、配件、周边版块样式结束*/

/*视频样式开始*/
.video-box {
    height: 285px;
    width: 296px;
    margin-bottom: 22px;
    background-color: #fff;
    float: left;
    margin-left: 14px;
    transition: all .2s linear;
}
.video-box1{
    margin-left: 0;
}
.btn-box {
    width: 100%;
    height: 180px;
    position: relative;
}
.video-box img {
    width: 100%;
    height: 100%;

}
.btn {
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    color: #fff;
    overflow: hidden;
    transition: all .2s;
}
.btn i {
    position: relative;
    left: 10px;
}
.btn:hover {
    background-color: #ff6700;
    border-color: #ff6700;
}
.btn-box p{
    margin: 28px 14px 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*视频样式结束*/

/*页脚样式开始*/
.footer {
    width: 100%;
    background-color: #fff;
    height: 292.5px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.fuwu {
    padding:27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.fuwu li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    text-align: center;

}
.fuwu a{
    color: #333;
    transition: color .2s;
}
.fuwu ul {
    height: 25px;/*解决浮动问题*/
}
.fuwu .iconfont {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    top: 3px;
}
.fuwu li:hover a {
    color: #ff6700;
}
.link {
    padding: 40px 0;
    height: 252.5px;
    box-sizing: border-box;
}
.link ul {
    float: left;
    width: 160px;
    margin: 0;
    text-align: left;
    height: 116.5px;
}
.link li {
    margin: 10px 0 0;
    font-size: 12px;
}
.link li:first-child {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.link li a {
    color: #757575;
}
.contact {
   float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.tel {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
    margin: 0 0 5px 0;
    text-align: center;
    display: block;
}
.tel+p {
    margin: 0 0 5px 0;
    font-size: 12px;
    text-align: center;
    color: #616161;
}
.contact p .iconfont {
    color: #f25807;
}
.contact {
    height: 116.5px;
}

.button {
    width: 118px;
    height: 28px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ff6700;
    transition: all .4s;
    box-sizing: border-box;
}
.button i,.button a {
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    color: #ff6700;
}
.button:hover{
    background-color: #ff6700;

}
.button:hover i,.button:hover a {
    color: #fff;
}
.link li:hover a{
    color: #ff6700;
}
/*页脚样式结束*/